{% extends 'base.html' %} 
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/checkin.css' %}">
{% endblock %}
{% block content %}

<h1>Daily check-in</h1>
<p>Enter how many servings of each food item you prepared or threw away today.</p>

<form action="{% url 'add_checkin' %}" method="POST" id="checkin">
  {% csrf_token %}
  <div id="container">
    <button  type="submit" id="submit" form="checkin">Submit your check in!</button>
  </div>

</form>


<script src="../../static/js/checkin.js"></script>
{% endblock %}