{% extends 'base.html' %} 
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
<div id="charter">
  <form action="{% url 'compare' %}" method="POST" id="compare">
    {% csrf_token %}
    <input type="search" value="Enter user to compare with" name="compare">
    <button  type="submit" id="submit" form="compare">Compare</button>
  </form>
  <div id="chart"></div>
</div>

<div id="data">
  {% for date in timeline %}
    <p class="timeline">{{date}}</p>
  {% endfor %}
  <p id="away_name">{{away.first.profile}}</p>
  {% for checkin in compare_checkins %}
    {% if checkin is None %}
      <p class="away_score">null</p>
    {% else %}
      <p class="away_date">{{ checkin.date }}</p>
      <p class="away_score">{{ checkin.score }}</p>
    {% endif %}
  {% endfor %}

  {% for checkin in user_checkins %}
    {% if checkin is None %}
      <p class="home_score">null</p>
    {% else %}
      <p class="home_date">{{ checkin.date }}</p>
      <p class="home_score">{{ checkin.score }}</p>
    {% endif %}
  {% endfor %}
</div>

<script src="../../static/js/compare.js"></script>

{% endblock %}