{% extends 'base.html' %} {% block content %}
<div id="container">
  <div>
    <h1>Eco Compete</h1>
    <span>Eco Compete is a social media platform designed to help users track their daily Co2 footprint, specifically that which comes from eating commercially available food.</span>
  </div>
  <br><br><br>
  <div>
    <h2>Check-ins</h2>
    <span>The main function of the site is for users to create and compare daily checkins. After creating an account, users are able to submit daily check-ins by entering roughly how many servings of various food items they prepared that day. After submitting a check-in, users are given an estimate of how much Co2 they were responsible for that day, shown as their score.</span>
  </div>
  <br><br><br>
  <div>
    <h2>Profile page</h2>
    <span>On a user's profile page, they'll be able to see how other users in their ZIP, continent, and income level have scored that day, and compare their score to those of their peers. Users are also able to enter a user and compare their check-in history to that user's directly.</span>
  </div>
</div>
<br><br><br>
<div id="footer">
  <h1>About Eco Compete</h1>
  <p>Eco Compete was developed by Sean Wilcox in an effort to help himself, and others track progress towards being more eco-friendly, and reduce carbon footprints.</p>
</div>
{% endblock %}