{% extends 'base.html' %} 
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
<div class="container">
  <div class="pic">
    {% if user.profile.profile_pic %}
      <img src="{{ user.profile.profile_pic.url }}" alt="" width="100%" height="100%">
    {% endif %}
  </div>

  <div class="charts">

    <div class="btn-group">
      <button id="all">All checkins</button>
      <button id="last-28">Last 28</button>
      <button id="last-7">Last 7</button>
    </div>

    <div id="togglecharts">
      <div class="chart" id="allcheckins"></div>
      <div class="chart" id="last7"></div>
      <div class="chart" id="last28"></div>
    </div>

    <div class="btn-group">
      <button id="cont">Continent</button>
      <button id="zip">ZIP code</button>
      <button id="income">Income level</button>
    </div>

    <div id="profileCharts">
      <div class="chart" id="continentchart"></div>
      <div class="chart" id="zipchart"></div>
      <div class="chart" id="incomechart"></div>
    </div>
  </div>

  <div class="header">
    <h1>{{ user.username }}'s profile!</h1>
    <p>This is where you can see your personal checkin history,</p>
    <p>how you compare to others today,</p>
    <p>and compare checkin history with your friends!</p>
  </div>

  <div class="info">
    <ul>
      <li>Username: {{ user.username }}</li>
      <li>ZIP code: {{ user.profile.zipCode }}</li>
      <li>Continent: {{ user.profile.continent }}</li>
      <li>Estimated income: {{ user.profile.income }}</li>
    </ul>
    <p>Total checkins: {{checkins|length}}</p>
    <p>Average checkin: {{avg}} kgs CO2</p>
    <a href="{% url 'editProfile'%}">Edit profile</a><br>
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Compare your environmental impact to mine!" data-url="http://localhost:8000/compare/{{ user.username }}" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br>
    <br><br><br>
    <input type="text" id="myInput" onkeyup="searchBar()" placeholder="Search for friends..">
    {% if users %}
    <ul id="user-data">
      {% for account in users %}
      <li><a href="http://localhost:8000/profile/{{ account.username }}">{{ account.username }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>


<div id="data">
{% for post in checkins %}
  <p class="userDate">{{post.date}}</p>
  <p class="userScore">{{post.score}}</p>
  {% endfor %}

{% for post in contScores %}
  <p class="contProfile">{{post.profile}}</p>
  <p class="contScore">{{post.score}}</p>
  {% endfor %}

{% for post in zipScores %}
  <p class="zipProfile">{{post.profile}}</p>
  <p class="zipScore">{{post.score}}</p>
  {% endfor %}

{% for post in incomeScores %}
  <p class="incomeProfile">{{post.profile}}</p>
  <p class="incomeScore">{{post.score}}</p>
  {% endfor %}


</div>


<script src="../../static/js/profile.js"></script>
{% endblock %}