.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 25%;
}
form input, select {
  margin-bottom: 16px;
}
.update {
  display: grid;
  grid-template-columns: 90% auto;
  border-bottom: 1px solid black;
  padding: 8px 0px 8px 0px;
}